
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <% if(typeof alert != 'undefined') { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <%= error.msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        <% }) %>
                    <% } %>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4"><strong><u>ADD SELLER</u></strong> </h3></div>
                                    <div class="card-body">
                                        <div class="small mb-3 text-muted">Add new and good sellers.</div>
                                        <form method="POST">
                                            <div class="form-group">
                                                <label class="small mb-1">Name</label>
                                                <input class="form-control py-4"  type="test" name="name" placeholder="Event Name" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Email</label>
                                                <input class="form-control py-4" type="email" name="email" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Password</label>
                                                <input class="form-control py-4" type="password" name="password" placeholder="password" />
                                            </div>
                                            
                                    
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>

