
    <!-- Main CSS-->
    <link href="/public/admin/profile/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-100 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Profile</h2>
                    <form method="POST" encType="multipart/form-data">
                        <div class="">
                            <img src="/public/admin/uploads/sampleFile.jpg" alt="profilePic">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="name" value="<%= adminInfo.name %> ">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Email" name="email" value="<%= adminInfo.email %> ">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" id="passIn" type="password" placeholder="Password" name="password"onmousedown="this.type='text'"
                            onmouseup="this.type='password'"
                            onmousemove="this.type='password'" value="<%= adminInfo.password %>">
                        </div>
                               
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="contact" name="contact" value="<%= adminInfo.phone_no %> ">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="file" name="profilePic" required/>

                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>
                     
                            
                                     
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>

    <!-- Main JS-->
    <script src="/public/admin/profile/js/global.js"></script>
            <script>
                function showP() {
                    var x = document.getElementById("passIn");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                    } 
            </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
