<!doctype html>
<html lang="en">

<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>


<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="/retailseller">Profile</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="/retailseller/addProduct">Add Product</a>
                            </li>
                            <li>
                                <a href="/retailseller/deleteProduct">Delete Product</a>
                            </li>
                            <li>
                                <a href="/retailseller/editProduct">Edit Deatils</a>
                            </li>
                            <li>
                                <a href="/retailseller/addCoupon">Add Coupon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#noSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Publish Product</a>
                        <ul class="collapse list-unstyled" id="noSubmenu">
                            <li>
                                <a href="/retailseller/publishedProduct">Published Product</a>
                            </li>
                            <li>
                                <a href="/retailseller/unpublishedProduct">Unpublished Product</a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sells</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="/retailseller/reviewProduct">Review</a>
                            </li>
                            <li>
                                <a href="#">Sells Analysis</a>
                            </li>
                            <li>
                                <a href="#">Report Customer</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                    </li>
                    <li>
                        <a href="#">Payment</a>
                    </li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <div align="center">
                <form method="POST" enctype="multipart/form-data">
                    <span align="center">
                        <h3>Delete Product</h3>
                    </span>
                    <table width="50%" align="center" style="border-collapse: separate;border-spacing: 0 8px">
                        <tr>
                            <td width="45%">Product Name</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=product_name%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">Quntity</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=quantity%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">Product price</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=price%></span>

                            </td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td>
                                <span><%=description%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">.</td>
                            <td width="10%"></td>
                            <td width="55%">
                                <span><h5>Are you sure??</h5></span>

                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="submit" name="add" value="Delete" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <script src="/js/jquery.min.js "></script>
        <script src="/js/popper.js "></script>
        <script src="/js/bootstrap.min.js "></script>
        <script src="/js/main.js "></script>
</body>

</html>