<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ebusiness: Retail Seller Menu</title>
	<meta name="description" content="ebusiness:Retail Seller Dashbord" />
	<meta name="keywords" content="ebusiness, template, html, css, menu, responsive, mobile-friendly" />
	<meta name="author" content="ZR SAIMUN" />
	<link rel="shortcut icon" href="/img/favicon.ico">
	<!--  icons -->
	<link rel="stylesheet" type="text/css" href="/css/organicicons.css" />
	<!-- try styles -->
	<link rel="stylesheet" type="text/css" href="/css/try.css" />
	<!-- menu styles -->
	<link rel="stylesheet" type="text/css" href="/css/component.css" />
	<script src="/js/modernizr-custom.js"></script>
</head>

<body>
	<!-- Main container -->
	<div class="container">
		<!-- ebusiness header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<div class="dummy-icon foodicon foodicon--coconut"></div>
				<h2 class="dummy-heading">RETAIL SELLER</h2>
			</div>
			<div class="bp-header__main">
				<span class="bp-header__present">ebusiness <span class="bp-tooltip bp-icon bp-icon--about" data-content="The ebusiness are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<h1 class="bp-header__title">Retail Seller Menu</h1>
				<nav class="bp-nav">
					<a class="bp-nav__item bp-icon bp-icon--prev" href="https://zrsaimun.blogspot.com//" data-info="previous "><span>Previous </span></a>
					<!--a class="bp-nav__item bp-icon bp-icon--next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a-->
					<a class="bp-nav__item bp-icon bp-icon--drop" href="https://github.com/ZRSaimun/e-business" data-info="back to the zrs article"><span>back to the Github Repo</span></a>
					<a class="bp-nav__item bp-icon bp-icon--archive" href="https://www.google.com/search?q=zr+saimun&oq=zr+saimun&aqs=chrome..69i57j35i39j69i61j69i60l2.6991j0j4&sourceid=chrome&ie=UTF-8" data-info="ZRS archive"><span>Go to the Search</span></a>
				</nav>
			</div>
		</header>
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Products</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Publish Product</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Sells</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4" aria-owns="submenu-4" href="#">Orders &amp; Request</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5" aria-owns="submenu-5" href="#">Crete Poll</a></li>
					<li  role="menuitem"><a class="menu__link" data-submenu="submenu-6" aria-owns="submenu-6" href="/logout">Log Out</a></li>
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Products">
					<li  role="menuitem"><a class="menu__link" href="/retailseller/addProduct">Add Product</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/deleteProduct">Delete Product</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/editProduct">Edit Details</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/addCoupon">Add Coupon</a></li>
					<li  role="menuitem"><a class="menu__link" href="retailseller/addCatagory">Add Catagory</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1" aria-owns="submenu-1-1" href="#">Sale %</a></li>
				</ul>
				<!-- Submenu 1-1 -->
				<ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Sale %">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Fair Trade Roots</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Dried Veggies</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Our Brand</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Homemade</a></li>
				</ul>
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Publish Product">
					<li  role="menuitem"><a class="menu__link" href="/retailseller/publishedProduct">Published Product</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/unpublishedProduct">Unpublished Product</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#">Special Selection</a></li>
					<!--<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Tropical Fruits</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Melons</a></li> -->
				</ul>
				<!-- Submenu 2-1 -->
				<ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Free Product</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Pick</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Boosters</a></li>
				</ul>
				<!-- Submenu 3 -->
				<ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Sells">
					<li  role="menuitem"><a class="menu__link" href="/retailseller/reviewProduct">Review</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/totalIncome">Sells Analysis</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/reportCustomer">Report Customer</a></li>
				<!--	<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Offer </a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Gift Card</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Promo Packs</a></li> -->
				</ul>
				<!-- Submenu 3-1 -->
				<ul data-menu="submenu-3-1" id="submenu-3-1" class="menu__level" tabindex="-1" role="menu" aria-label="Promo Packs">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Starter Kit</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">The Essential 8</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Bolivian Secrets</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Premium Packs</a></li>
				</ul>
				<!-- Submenu 4 -->
				<ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu" aria-label="Orders &amp; Request">
					<li  role="menuitem"><a class="menu__link" href="/retailseller/pendingOrders">Pending Orders</a></li>
					<li  role="menuitem"><a class="menu__link" href="/retailseller/deliverdOrders">Deliverd Orders</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-1" aria-owns="submenu-4-1" href="#">Selection</a></li>
				</ul>
				<!-- Submenu 4-1 -->
				<ul data-menu="submenu-4-1" id="submenu-4-1" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Offer</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Producr</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Cotton Free</a></li>
				</ul>
				<!--Submenu 5-->
				<ul data-menu="submenu-5" id="submenu-5" class="menu__level" tabindex="-1" role="menu" aria-label="Crete Poll">
					<li  role="menuitem"><a class="menu__link" href="#">Poll</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<p class="info">Publish Your Goods make good relation with customer </p>
			<!-- Ajax loaded content here -->
			<!-- Page Content  -->
         

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <div align="center">
                <form method="POST" enctype="multipart/form-data">
                    <span align="center">
                        <h3>Delete Product</h3>
                    </span>
                    <table width="50%" align="center" style="border-collapse: separate;border-spacing: 0 8px">
                        <tr>
                            <td width="45%">Product Name</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=product_name%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">Quntity</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=quantity%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">Product price</td>
                            <td width="10%">:</td>
                            <td width="45%">
                                <span><%=price%></span>

                            </td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td>
                                <span><%=description%></span>

                            </td>
                        </tr>
                        <tr>
                            <td width="45%">.</td>
                            <td width="10%"></td>
                            <td width="55%">
                                <span><h5>You want to publish your Product ??</h5></span>

                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
								<button type="submit" name="add">Published</button>
                            </td>
                        </tr>
                    </table>
					<p style="color:burlywood;">Thanks For Your Contribution </p>
                </form>
            </div>
        </div>

		</div>
	</div>
	<!-- /view -->
	<script src="js/classie.js"></script>
	<script src="js/dummydata.js"></script>
	<script src="js/main.js"></script>
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				// breadcrumbsCtrl : true, // show breadcrumbs
				// initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		function loadDummyData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '';
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
				classie.remove(gridWrapper, 'content--loading');
				gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
			}, 700);
		}
	})();
	</script>

			
	


</body>

</html>
